	<tr class="change last">
		<td><a href="{PATH_ADMIN}clients/detail/{CLIENT_ID}/"><span title="{LANG_TXT_CLIENT_DETAIL}" class="list"></span></a></td>
		<td>{CLIENT_ID_TXT}</td>
		<td>{ADD_DATE_TXT}</td>
		<td>{LOG_DATE_TXT}</td>
		<td><b>{FULLNAME}</b></td>
		<td>{EMAIL}</td>
		<td>{PAID_TXT} USD</td>
		<td><b>{PENDING_TXT} USD</b></td>
		<td>{STATUS_TXT}</td>
	</tr>