<tr class="change{IsBlocked} declined{-IsBlocked}">
	<td><a href="{PATH_ADMIN}tours/detail/{TOUR_ID}/"><span title="{LANG_TXT_TOUR_DETAIL}" class="list"></span></a></td>
	<td><b>{TOUR_ID_TXT}</b></td>
	<td><b>{CODE}</b></td>
	<td>{ADD_DATE_TXT}</td>
	<td><b>{DEPARTURE_DATE_TXT}</b></td>
	<td>{DEPARTURE_CITY}</td>
	<td><b>{TOUR_TXT}</b></td>
	<td>{PRICE_TXT} USD</td>
	<td><b>{STATUS_TXT}</b></td>
</tr>