<tr class="change{IsBlocked} blocked{-IsBlocked}">
	<td><a href="{PATH_ADMIN}marketing/leads/{LEAD_ID}/"><span title="{LANG_TXT_LEAD_DETAIL}" class="list"></span></a></td>
	<td><b>{NAME}</b></td>
	<td>{PHONE1_TXT}</td>
	<td>{PHONE2_TXT}</td>
	<td>{LASTCALL_DATE_TXT}</td>
	<td><b>{NEXTCALL_DATE_TXT}</b></td>
	<td><b>{STATUS_TXT}</b></td>
</tr>