<!DOCTYPE html>
<html lang="en">

<head>
	<title>Generator</title>
	<meta charset="utf-8">
	<style>
		body {margin:0px; padding:0px; text-align:center; font-family: "Calibri"; font-size:12px; color:#000000; text-rendering: optimize-speed;}
		h1 {text-align: center; font-size: 30px; font-weight: bold; font-family: "Calibri"; text-decoration: underline;}
	</style>
</head>

<body>