<br />

<div class="navigation">
	<div class="limg"></div>
	<div class="rimg"></div>

	<div class="tab">
		<div class="limg"></div>
		<div class="rimg"></div>
		<a><b>{SUBJECT}</b>, {DATE_TXT}</a>
	</div>
</div>

<table class="classic">
	<tr class="last">
		<td>{TEXT}</td>
	</tr>
</table>