/* --== CLASS: CError ==-- */
.err_error {display:none; visibility:hidden}
.err_warning {display:none; visibility:hidden}
.err_notice {display:none; visibility:hidden}

/* --== WEB SITE STYLE ==-- */
body {}

#content {}

#head {display:none; visibility:hidden}
#head div.right {display:none; visibility:hidden}

#left {display:none; visibility:hidden}
#right {}
#in_right {}

#napinak {display:none; visibility:hidden}

#footer {display:none; visibility:hidden}

/* menu */
#menu {display:none; visibility:hidden}

#menu a {display:none; visibility:hidden}
#menu a img {display:none; visibility:hidden}
#menu a:hover {display:none; visibility:hidden}
#menu .menu_item_on {display:none; visibility:hidden}

/* default */

.navigation {display:none; visibility:hidden}
.navigation_right {display:none; visibility:hidden}
.navigation a, .navigation_right a {display:none; visibility:hidden}
.navigation_right a {display:none; visibility:hidden}
.navigation a:hover, .navigation_right a:hover {display:none; visibility:hidden}

table {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#333333;}

table.classic {width:100%; position:relative; border:1px solid #666666; border-collapse:collapse}
table.classic td {padding:2px 5px 2px 5px; border:1px solid #BBBBBB}
table.classic td a {display:block; width:100%}
table.classic tr.title td, table.classic td.title {font-weight:800; background-color:#EEEEEE}
table.classic tr.l td{background-color:#DCE3FF}
table.classic tr.s td{background-color:#E5F6FF}
table.classic tr.list td {background-color:#EEEEEE; font-weight:800}
table.classic tr.list td a {display:inline; color:#000000; font-weight:500; width:auto}

input, select, textarea {display:none; visibility:hidden}
input.submit, input.reset {border:1px solid #000000; padding:1px 5px 1px 5px; background-color:#DDDDDD}
table.classic tr.title input.nb {border: 0px; background-color:#EEEEEE}
table.classic td input.nb {border: 0px; background-color:#ffffff}

#print {display:none; visibility:hidden}

/* default */
a {display:none; visibility:hidden}
a:hover {display:none; visibility:hidden}
a img {display:none; visibility:hidden}

img {display:none; visibility:hidden}

#btnfilter {display:none; visibility:hidden}
#btnfilter input.submit {display:none; visibility:hidden}
#btnfilter input.reset {display:none; visibility:hidden}

ul li {display:none; visibility:hidden}

.count {display:none; visibility:hidden}

.route {display:none; visibility:hidden}
a.a_r:hover {display:none; visibility:hidden}