/* --== WEB SITE STYLE ==-- */
body {margin:0px; padding:0px; height:100%; text-align:center; font-family: Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#333333; background-color:#f0f0f0}

#content {position:relative; margin:auto; width:98%; text-align:left; margin-top: 5px}
#inner_content {position:relative; width:100%; background-color:#ffffff; border:1px solid #aabbcc; z-index:1}
#inner_padding {position:relative; margin:15px 5px 30px 5px;}

#head {position:relative; width:100%; margin-bottom: 5px; color: #ffffff; border: 1px solid #1f2124; border-bottom:8px solid #1f2124; background: url("../../graphics/bg.png") repeat-x; background-position: -0px -0px; z-index:998;}
#head div.right {position:relative; font-size: 11px; float: right; padding-right: 10px; text-align: right; font-weight: normal;}
#head a {color: #15428b;}

/* Footer */
#footer {width:100%; height: 30px; line-height: 32px; color: #808080; font-size: 11px; background: url("../../graphics/bg.png") repeat-x; background-position: -0px -116px;}
#footer a {color: #808080}

/* Icons */
#menu a span, a span, #menu li ul.submenu li a span, span.icons {position:relative; display:block; margin:auto; background: url("../../graphics/icons.png") no-repeat;}

/* Menu */
#menu {position:relative; text-align:left; padding: 0px; margin: 0px; list-style: none; min-height: 50px;}
#menu li {float: left; width: 120px; display:block; position:relative; text-align:center; height: 50px; margin: 0px; padding: 0px;}
#menu li a:link, #menu li a:visited {position:relative; display:block; text-align:center; padding: 2px 0px 4px 0px; text-decoration:none; color:#ffffff; font-weight:800; height: 50px;}
#menu a span {width: 25px; height: 25px;}
#menu a span.clients {background-position: -78px -0px;}
#menu a span.tours {background-position: -0px -26px;}
#menu a span.accounts {background-position: -0px -52px;}
#menu a span.accounting {background-position: -78px -0px;}
#menu a span.marketing {background-position: -13px -74px;}
#menu a span.logout {background-position: -52px -52px;}
#menu a span.payments {background-position: -26px -26px;}
#menu a span.reports {background-position: -26px -26px;}
#menu a span.system {background-position: -52px -0px;}
#menu a span.tasks-pending {background-position: -26px -0px;}
#menu a span.tasks {background-position: -0px -0px;}

#menu li:hover a, #menu li a:hover, #menu li a:active {color: #ffffff; display:block; text-align:center; text-decoration:none;}
#menu li:hover a, #menu li a:hover, #menu li a:active, #menu .menu_item_on {background: url("../../graphics/bg.png") repeat-x; background-position: -0px -58px;}

/* Sub-menu */
#menu li ul.submenu {margin:0px; padding:0px; list-style:none; display:none; width:180px; position:absolute; top: 51px; left:0px; z-index:10}
#menu li:hover ul.submenu {display:block; margin:0px; padding:0px}
#menu li ul.submenu li {position:relative; display:block; clear:left; width:180px; height: 22px; margin:0px; padding:0px; border:0px}
#menu li ul.submenu li a span {display:inline-block; width: 15px; height: 13px; background-position: -0px -78px;}
#menu li ul.submenu li a, #menu li ul.submenu li a:link, #menu li ul.submenu li a:visited {text-align: left; clear:left; padding: 0px; margin:0px; border:none; position:relative; font-weight: normal; padding-left: 5px; color: #ffffff; line-height:22px; height:22px; background: url("../../graphics/bg.png") repeat-x; background-position: -0px -218px;}
#menu li ul.submenu li:hover a, #menu li ul.submenu li a:active, #menu li ul.submenu li a:hover {position:relative; z-index:1000; background: url("../../graphics/bg.png") repeat-x; background-position: -0px -240px;}

/* Navigation */
.navigation {display:block; background: url("../../graphics/bg.png") repeat-x; height:24px; width:100%; background-position: -0px -146px;}
.navigation .limg {position:absolute; background: url("../../graphics/bg.png") no-repeat; width:1px; height:21px; left:0px; top:0px; background-position: -0px -170px;}
.navigation .rimg {position:absolute; background: url("../../graphics/bg.png") no-repeat; width:1px; height:21px; right:0px; top:0px; background-position: -0px -194px;}
.navigation .spacer {position:relative; float:left; width:10px}
.navigation .tab {display:block; position:relative; float:left; height:21px; text-decoration:none; text-align:center; background: url("../../graphics/bg.png") repeat-x; background-position: -0px -364px; margin:0px 2px 0px 2px}
.navigation .right {float:right}
.navigation .tab a {display:block; padding:4px 5px 4px 5px; color:#333333}
.navigation .tab a:hover {text-decoration:none}
.navigation .tab .limg {position:absolute; background-position: -0px -412px; width:2px; height:21px; left:0px; top:0px;}
.navigation .tab .rimg {position:absolute; background-position: -0px -460px; width:2px; height:21px; right:0px; top:0px;}
.navigation .tabchange:hover {background-position: -0px -388px;}
.navigation .tabchange:hover .limg {background-position: -0px -436px;}
.navigation .tabchange:hover .rimg {background-position: -0px -484px;}
.navigation .tabchange a:hover {color:#ffffff}

.stretch {clear:both; font-size:1px; height:1px; width:1px}

table {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#333333;}

table.layout {width:100%; position:relative; border:1px solid #8db2e3; border-collapse:collapse}
table.layout td {padding:2px 5px 2px 5px}

table.classic {position:relative; width:100%; border:1px solid #8db2e3; border-collapse:collapse; text-align: left}
table.classic td {padding:2px 5px 2px 5px; position:relative; border-bottom:1px solid #eeeeee}
table.classic tr.first td {padding-top: 10px}
table.classic tr.last td, table.classic tr.last-bd td, table.classic tr td.last {border-bottom: 1px solid #8db2e3}
table.classic tr.last-bd td {padding-bottom: 10px}
table.classic td a {display:block; width:100%}
table.classic tr.change:hover, table.classic tr td.change:hover {background-color:#efefef; cursor: pointer;}
table.classic tr.change td b {color: #106594}
table.classic tr.title td {padding:0px; font-weight:800; height:24px; background: url("../../graphics/bg.png"); background-position: -0px -262px; padding:0px 5px 0px 5px; border-bottom:1px solid #ffffff;}
table.classic tr.title td:hover {background-position: -0px -315px;}

table.classic tr.title td a, table.classic td.title a {display:block; color:#000000}
table.classic tr.title td a:hover, table.classic td.title a:hover {color:#000000; text-decoration:none}

table.classic tr.highlighted, table.classic td.highlighted, table.classic td.title {background-color:#e9f3f8; font-weight:800}

table.classic tr.blocked {background-color:#fde9e9}
table.classic tr.declined {background-color:#e2e2e2}
table.classic tr.legal {background-color:#ff8080}
table.classic tr.pending {background-color:#fde9e9}

table.classic tr.list td {background-color:#e9f3f8; font-weight:800}
table.classic tr.list td a {display:inline; color:#000000; font-weight:500; width:auto}

input, select, textarea {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#333333; border:1px solid #333333; background-color:#deecfd}
input.submit {text-transform:uppercase}
table.classic tr.title input.nb {border: 0px; background-color:#e9f3f8}
table.classic td input.nb {border: 0px; background-color:transparent}

table.classic.nb {border: 0px}
table.classic tr td.nb {border: 0px; padding: 0px; margin:0px}

/* Default */
form {margin:0px; padding:0px}
a {text-decoration:none; color:#106594;}
a img {border:0px}
a span, span.icons {width: 13px; height: 13px;}
a span.delete {background-position: -78px -54px;}
a span.edit {background-position: -91px -40px;}
a span.list {background-position: -78px -40px;}
a span.speaker {background-position: -94px -26px;}
a.click:hover {cursor: pointer; cursor: hand;}

span.icons {display: inline-block;}
span.personalid {background-position: -0px -83px;}
span.application {background-position: -13px -83px;}
span.jobletter {background-position: -107px -0px;}
span.insurance {background-position: -107px -14px;}
span.cheque {background-position: -107px -42px;}
span.contract {background-position: -107px -28px;}
span.certification {background-position: -107px -56px;}
span.sheriff {background-position: -107px -70px;}

h1 {margin:10px; margin-top:0px; font-size:18px}

.result {position:relative; padding:15px; background-color:#b7d8e6}

#btnfilter, #btnfilter_right {position: relative; float: left; padding-bottom: 10px}
#btnfilter input.submit, #btnfilter_right input.submit {font-weight: 800; text-transform:none}
#btnfilter input.reset, #btnfilter_right input.reset {font-weight: normal}
#btnfilter_right {float: right}

ul li {list-style-type: square}

.count {float:right}
span.red {color: #ff0000; font-weight: bold}

hr {size: 1px; color: #1875ad; height: 1px}

/* Errors */
.err_error {position:relative; text-align:center; background-color:#DDDDDD; color:#ff0000; font-weight: 800; padding:2px; border:1px solid #4c647e}
.err_warning {background-color:#DDDDDD; color:#CC9900; font-weight: 800; height: 20px; text-align:center; padding-top: 4px; width:100%}
.err_notice {background-color:#DDDDDD; color:#006600; font-weight: 800; height: 20px; text-align:center; padding-top: 4px; width:100%}
.input_error {background-color:#fde9e9}