<div style="text-align: center; padding: 50px">
	
	<div style="width: 400px; margin:auto; text-align: left">
	
	<div class="navigation">
		<div class="limg"></div>
		<div class="rimg"></div>
	</div>
	
	<table class="classic" cellpadding="0" cellspacing="0">
		<tr class="last">
			<td style="text-align: center">
				<br /><b>{LANG_TXT_TEXT}</b><br /><br />
				<a href="{PATH_ADMIN}"><b>{LANG_TXT_LOGIN_LINK} &gt;&gt;</b></a><br />
			</td>
	</table>
	
	</div>

</div>