			</div>
		</div>
			
		<div id="footer">
			&nbsp;&nbsp;&nbsp; <a href="mailto:info@rootshell.do">ROOTSHELL</a> &copy; 2010-{CURRENT_YEAR} / ID: {PAGE_ID}
		</div>

	</div>
	
</body>
</html>