<tr class="{IsLast}last{-IsLast} change">
	<td><b>{STATUS_TXT}</b></td>
	<td>{COUNT}</td>
	<td>{PERCENTAGE_TXT}%</td>
	{IsAmount}<td>{PRINCIPAL_TXT} {CURRENCY_TXT}</td>
	<td>{INTEREST_TXT} {CURRENCY_TXT}</td>
	<td>{ARREAR_TXT} {CURRENCY_TXT}</td>
	<td><b>{TOTAL_TXT} {CURRENCY_TXT}</b></td>{-IsAmount}
</tr>