<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	</head>

	<body style="font-family: 'Open Sans', sans-serif; font-size: 14px; background: #ffffff;">
		
		<table align="center" border="1" cellspacing="0" cellpadding="0">
			<tr>
				<td>
					<table border="0" cellspacing="0" cellpadding="0">
						<tr style="background-color: #cccbc7; text-align: center;">
							<td width="240" style="padding: 5px;"><img src="cid:gstlogo" alt="GOOD SHEPHERD TOURS INC." width="182" height="70"></td>
							<td width="460"><font size="4" color="000000" style="text-shadow: 1px 1px 5px rgba(50, 50, 50, 1);">CHRISTIAN TOURS TO THE HOLY LAND!</font></td>
						</tr>
						<tr>
							<td colspan="2" width="700" style="padding: 30px; text-align: justify;">
