<tr{IsLast} class="last"{-IsLast}>
	<td class="title" width="30%">{TYPE_TXT}</td>
	<td>{INFORMATION}</td>
	<td>
		{IsPassportNumber}
		<input type="number" value="{INFORMATION}" class="passport" id="{INFORMATION_ID}" required/>
		{-IsPassportNumber}
		{IsPassportCountry} 
		<select id="{INFORMATION_ID}" class="passport">
				{ISSUED_PASSPORT_COUNTRY}
		</select>
		{-IsPassportCountry}
		{IsPassportIssued}
		<input type="date" class="passport" id=" {INFORMATION_ID}" value="{INFORMATION}" required />
		{-IsPassportIssued}
		{IsPassportExpired}
		<input type="date" class="passport" id="{INFORMATION_ID}" value="{INFORMATION}" required  />
		{-IsPassportExpired}
	</td>

</tr>