<tr class="change{IsLast} last{-IsLast}{IsBlocked} blocked{-IsBlocked}">
	<td><a href="{PATH_ADMIN}payments/detail/{PAYMENT_ID}/"><span title="{LANG_TXT_PAYMENT_DETAIL}" class="list"></span></a></td>
	<td>{PAYMENT_ID_TXT}</td>
	<td>{ADD_DATE_TXT}</td>
	<td>{PAY_DATE_TXT}</td>
	<td><b>{TYPE_TXT}</b></td>
	<td>{METHOD_TXT}</td>
	<td><b>{AMOUNT_TXT} USD</b></td>
	<td>{STATUS_TXT}</td>
</tr>