<tr class="change{IsLast} last{-IsLast}">
	<td class="title" width="30%">{TYPE_TXT}</td>
	<!-- <a href="{PATH_ADMIN}clients/sendmail/{CONTACT_ID}/"> -->
	<td>
	{IsEmail}<b>{CONTACT_TXT}</b>{-IsEmail}
	<!-- <a href="{PATH_ADMIN}clients/dial/{CLIENT_ID}/?phone={CONTACT}"> -->
	{IsPhone}{CONTACT_TXT}{-IsPhone}
	</td>

	<td >
	{IsEmail}
	<input  type="email" value="{CONTACT_TXT}" class="email" id="{CONTACT_ID}" required/>
	{-IsEmail}
	{IsPhone}
	<input type="text" pattern="[\+]\d{3}[\-]\d{3}[\-]\d{4}" value="{CONTACT_TXT}" class="phone" id="{CONTACT_ID}" required />
	{-IsPhone}
	</td>
	<td></td><td></td><td></td><td></td>
</tr>