<tr class="change{IsBlocked} blocked{-IsBlocked}">
	<td><a href="{PATH_ADMIN}clients/document-upload/{DOCUMENT_ID}/"><span title="{DOCUMENT_UPLOAD_TXT}" class="list"></span></a></td>
	<td>{CONTACT_TYPE_TXT}</td>
	<td><b>{NUMBER_TXT}</b></td>
	<td>{COUNTRY_TXT}</td>
	<td>{DATE_ISSUED_TXT}</td>
	<td>{DATE_EXPIRATION_TXT}</td>
	<td>{ADD_DATE_TXT}</td>
	<td>{DEL_DATE_TXT}</td>
	<td>{STATUS_TXT}</td>
	<td><a href="{PATH_ADMIN}clients/document-delete/{DOCUMENT_ID}/"><span title="{LANG_TXT_DELETE_DOCUMENT}" class="delete"></span></a></td>
</tr>