<tr class="change{IsBlocked} blocked{-IsBlocked}">
	<td>{IsNotice}<a href="#" onclick="alert('{NOTICE}'); return false;"><span title="{LANG_TXT_NOTICE}" class="list"></span></a>{-IsNotice}</td>
	<td>{TYPE_TXT}</td>
	<td><b>{INFORMATION}</b></td>
	<td>{ADD_DATE_TXT}</td>
	<td>{DEL_DATE_TXT}</td>
	<td>{STATUS_TXT}</td>
	<td>{IsNotDeleted}<a href="{PATH_ADMIN}clients/information-delete/{INFORMATION_ID}/"><span title="{LANG_TXT_DELETE_INFORMATION}" class="delete"></span></a>{-IsNotDeleted}</td>
</tr>