<tr class="change{IsBlocked} declined{-IsBlocked}">
	<td><a href="{PATH_ADMIN}clients/detail/{CLIENT_ID}/"><span title="{LANG_TXT_CLIENT_DETAIL}" class="list"></span></a></td>
	<td><b>{CLIENT_ID_TXT}</b></td>
	<td><b>{ROLE_TXT}</b></td>
	<td>{DATE_TXT}</td>
	<td><b>{FIRSTNAME}</b></td>
	<td><b>{LASTNAME}</b></td>
	<td>{EMAIL}</td>
	<td><b>{STATUS_TXT}</b></td>
</tr>