<tr class="change{IsLast} last{-IsLast}{IsBlocked} blocked{-IsBlocked}">
	<td><a href="{PATH_ADMIN}loans/detail/{LOAN_ID}/"><span title="{LANG_TXT_LOAN_DETAIL}" class="list"></span></a></td>
	<td>{LOAN_ID_TXT}</td>
	<td><b>{PAYDATE_TXT}</b></td>
	<td>{ASSESSOR_TXT}</td>
	<td>{AMOUNT_TXT} DOP (Pesos)</td>
	<td>{IsBlocked}<span class="red">{-IsBlocked}{ARREAR_TXT} DOP (Pesos){IsBlocked}</span>{-IsBlocked}</td>
	<td><b>{TOTAL_TXT} DOP (Pesos)</b></td>
</tr>