<tr class="change{IsLast} last{-IsLast}">
	<td class="title" width="30%">{TYPE_TXT}</td>
	<td><a href="{PATH_ADMIN}clients/dial/{CLIENT_ID}/?phone={CONTACT}">+{CONTACT_TXT}</a></td>
	<td>{IsNotice}{PHONE_NOTICE}{-IsNotice}&nbsp;</td>
</tr>