<tr class="change{IsLast} last{-IsLast}">
	<td width="30%"><b>{NAME}</b></td>
	<td><a href="{PATH_ADMIN}clients/dial/{CLIENT_ID}/?phone={PHONE}">{PHONE_TXT}</a></td>
	<td><a href="{PATH_ADMIN}clients/dial/{CLIENT_ID}/?phone={CELLULAR}">{CELLULAR_TXT}</a></td>
</tr>