<tr class="change{IsBlocked} blocked{-IsBlocked}">
	<td><a href="{PATH_ADMIN}tasks/detail/{TASK_ID}/"><span title="{LANG_TXT_TASK_DETAIL}" class="list"></span></a></td>
	<td>{USER_TXT}</td>
	<td><b>{TYPE_TXT}</b></td>
	<td><b>{FULLNAME}</b></td>
	<td><b>{SUBJECT}</b></td>
	<td>{ADD_DATE_TXT}</td>
	<td>{EXECUTION_DATE_TXT}</td>
	<td>{STATUS_TXT}</td>
</tr>