<tr class="change{IsBlocked} blocked{-IsBlocked}">
	<td><a href="{PATH_ADMIN}tasks/detail/{TASK_ID}/"><span title="{LANG_TXT_CALL_DETAIL}" class="list"></span></td>
	<td>{CLIENT_ID_TXT}</td>
	<td><b>{FIRSTNAME}</b></td>
	<td><b>{LASTNAME}</b></td>
	<td>{ASSESSOR}</td>
	<td><b>{AMOUNT_TXT} DOP (Pesos)</b></td>
	<td>{CALLDATE_TXT}</td>
	<td>{LAST_CALLDATE_TXT}</td>
	<td>{STATUS_TXT}</td>
</tr>